.playlists{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.compare-container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.compare-container p {
  padding-right: 10px;
}
